# Exercice
Téléchargez le fichier Excel "FranceTHD_Open_Data_Observatoire_2017_T2.xlsx" sur le niveau des débits sur les réseaux d'accès à Internet : ADSL, câble, Fibre FttH (T2 2015 - T2 2017) de la page : https://www.data.gouv.fr/fr/datasets/niveau-des-debits-sur-les-reseaux-dacces-a-internet-adsl-cable-fibre-ftth-t2-2015-t2-2017/
Chargez avec pd.read_excel() dans un DataFrame le dernier onglet "2017 T2" en mesurant le temps avec %%time en première instruction de cellule.
Modifiez le nom des 4 premières colonnes en : 'code INSEE', 'commune', 'département', 'nb locaux' par exemple.
Sauvegardez le DataFrame avec pd.to_pickle().
Rechargez le DataFrame à partir du fichier pickle en mesurant le temps avec %%time en première instruction de cellule et comparez.
Effectuez une opération de sélection sur les communes : par exemple, les communes qui commencent par "SAINT".
Diagnostiquez le message d'erreur.
Corrigez le DataFrame.

In [1]:
# imports
import numpy as np
import pandas as pd

### Question 1 : 
Chargez avec pd.read_excel() dans un DataFrame le dernier onglet "2017 T2" en mesurant le temps avec %%time en première instruction de cellule.

In [5]:
#on veut le dernier onglet du doc excel
%time 
df = pd.read_excel('FranceTHD_Open_Data_Observatoire_2017_T2.xlsx', sheet_name = -1, header = 1)

CPU times: user 1 µs, sys: 1e+03 ns, total: 2 µs
Wall time: 4.05 µs

In [6]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,éligibles,3M et +,8M et +,30M et +,100M et +,éligibles.1,...,éligibles.2,3M et +.2,8M et +.2,30M et +.2,100M et +.2,éligibles.3,3M et +.3,8M et +.3,30M et +.3,100M et +.3
0,01001,L'Abergement-Clémenciat,01,361,1.000,0.456,0.052,0.000,0.000,1.000,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,01002,L'Abergement-de-Varey,01,168,0.288,0.076,0.024,0.024,0.024,0.276,...,0.0,0.0,0.0,0.0,0.0,0.024,0.024,0.024,0.024,0.024
2,01004,Ambérieu-en-Bugey,01,7501,0.998,0.974,0.898,0.430,0.198,0.998,...,0.0,0.0,0.0,0.0,0.0,0.198,0.198,0.198,0.198,0.198
3,01005,Ambérieux-en-Dombes,01,725,1.000,0.993,0.945,0.667,0.036,1.000,...,0.0,0.0,0.0,0.0,0.0,0.036,0.036,0.036,0.036,0.036
4,01006,Ambléon,01,73,1.000,1.000,1.000,1.000,1.000,1.000,...,0.0,0.0,0.0,0.0,0.0,1.000,1.000,1.000,1.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36641,97615,Pamandzi,976,2670,1.000,0.998,0.994,0.564,0.000,1.000,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
36642,97616,Sada,976,2690,0.991,0.965,0.839,0.153,0.000,0.991,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
36643,97617,Tsingoni,976,3099,0.987,0.708,0.706,0.475,0.000,0.987,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
36644,97701,Saint-Barthélemy,977,4693,1.000,0.936,0.762,0.146,0.000,1.000,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
36645,97801,Saint-Martin,978,16932,0.993,0.804,0.668,0.214,0.000,0.993,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [7]:
df.columns = ['code INSEE', 'commune', 'département', 'nb locaux'] + list(df.columns[4:])

In [8]:
df

,code INSEE,commune,département,nb locaux,éligibles,3M et +,8M et +,30M et +,100M et +,éligibles.1,...,éligibles.2,3M et +.2,8M et +.2,30M et +.2,100M et +.2,éligibles.3,3M et +.3,8M et +.3,30M et +.3,100M et +.3
0,01001,L'Abergement-Clémenciat,01,361,1.000,0.456,0.052,0.000,0.000,1.000,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,01002,L'Abergement-de-Varey,01,168,0.288,0.076,0.024,0.024,0.024,0.276,...,0.0,0.0,0.0,0.0,0.0,0.024,0.024,0.024,0.024,0.024
2,01004,Ambérieu-en-Bugey,01,7501,0.998,0.974,0.898,0.430,0.198,0.998,...,0.0,0.0,0.0,0.0,0.0,0.198,0.198,0.198,0.198,0.198
3,01005,Ambérieux-en-Dombes,01,725,1.000,0.993,0.945,0.667,0.036,1.000,...,0.0,0.0,0.0,0.0,0.0,0.036,0.036,0.036,0.036,0.036
4,01006,Ambléon,01,73,1.000,1.000,1.000,1.000,1.000,1.000,...,0.0,0.0,0.0,0.0,0.0,1.000,1.000,1.000,1.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36641,97615,Pamandzi,976,2670,1.000,0.998,0.994,0.564,0.000,1.000,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
36642,97616,Sada,976,2690,0.991,0.965,0.839,0.153,0.000,0.991,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
36643,97617,Tsingoni,976,3099,0.987,0.708,0.706,0.475,0.000,0.987,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
36644,97701,Saint-Barthélemy,977,4693,1.000,0.936,0.762,0.146,0.000,1.000,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
36645,97801,Saint-Martin,978,16932,0.993,0.804,0.668,0.214,0.000,0.993,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000

### Question 2 
Modifiez le nom des 4 premières colonnes en : 'code INSEE', 'commune', 'département', 'nb locaux' par exemple. Sauvegardez le DataFrame avec pd.to_pickle(). 

Rechargez le DataFrame à partir du fichier pickle en mesurant le temps avec %%time en première instruction de cellule et comparez.

In [10]:
#sauvegarde en pickle

df.to_pickle('thd.dat')

In [11]:
%time
df1 = pd.read_pickle('thd.dat')
df1.head()

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 5.01 µs

,code INSEE,commune,département,nb locaux,éligibles,3M et +,8M et +,30M et +,100M et +,éligibles.1,...,éligibles.2,3M et +.2,8M et +.2,30M et +.2,100M et +.2,éligibles.3,3M et +.3,8M et +.3,30M et +.3,100M et +.3
0,01001,L'Abergement-Clémenciat,01,361,1.000,0.456,0.052,0.000,0.000,1.000,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,01002,L'Abergement-de-Varey,01,168,0.288,0.076,0.024,0.024,0.024,0.276,...,0.0,0.0,0.0,0.0,0.0,0.024,0.024,0.024,0.024,0.024
2,01004,Ambérieu-en-Bugey,01,7501,0.998,0.974,0.898,0.430,0.198,0.998,...,0.0,0.0,0.0,0.0,0.0,0.198,0.198,0.198,0.198,0.198
3,01005,Ambérieux-en-Dombes,01,725,1.000,0.993,0.945,0.667,0.036,1.000,...,0.0,0.0,0.0,0.0,0.0,0.036,0.036,0.036,0.036,0.036
4,01006,Ambléon,01,73,1.000,1.000,1.000,1.000,1.000,1.000,...,0.0,0.0,0.0,0.0,0.0,1.000,1.000,1.000,1.000,1.000

### Question 3

Effectuez une opération de sélection sur les communes : par exemple, les communes qui commencent par "SAINT". Diagnostiquez le message d'erreur. Corrigez le DataFrame.

In [13]:
# dans la série on a d'autre chose que des chaines de caractères. 
# en faisant la commande suivante, on remarque que deux communes sont des booléens
df['commune'].apply(type).value_counts()

<class 'str'>     36644
<class 'bool'>        2
Name: commune, dtype: int64

### Fonction universelle en python

In [14]:
isinstance('toto', str)

True

In [15]:
df.loc[df['commune'].apply(lambda x : isinstance(x,bool))]

,code INSEE,commune,département,nb locaux,éligibles,3M et +,8M et +,30M et +,100M et +,éligibles.1,...,éligibles.2,3M et +.2,8M et +.2,30M et +.2,100M et +.2,éligibles.3,3M et +.3,8M et +.3,30M et +.3,100M et +.3
2579,08165,False,08,26,1.0,0.8,0.000,0.000,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8439,24177,False,24,384,1.0,1.0,0.991,0.617,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

On a deux communes dont le nom est False. Que fait-on ? 
Ce sont deux données aberrantes. D'où viennent les données ? 
On les a récupérer dans le fichier Excel, on repart sur le fichier source pour vérifier / comprendre les erreurs Aberrantes 

Ici, le problème est que la commune s'appelle "FAUX" :)

In [16]:
# pour corriger

df.loc[df['commune'].apply(lambda x : isinstance(x,bool)), 'commune'] = 'Faux'

In [18]:
df.loc[df['commune'].str.startswith('Saint')]

,code INSEE,commune,département,nb locaux,éligibles,3M et +,8M et +,30M et +,100M et +,éligibles.1,...,éligibles.2,3M et +.2,8M et +.2,30M et +.2,100M et +.2,éligibles.3,3M et +.3,8M et +.3,30M et +.3,100M et +.3
298,01331,Saint-Alban,01,101,1.000,0.733,0.554,0.000,0.000,1.000,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000
299,01332,Saint-André-de-Bâgé,01,289,1.000,1.000,0.882,0.071,0.021,1.000,...,0.000,0.000,0.000,0.000,0.0,0.021,0.021,0.021,0.021,0.021
300,01333,Saint-André-de-Corcy,01,1453,1.000,0.987,0.975,0.522,0.048,1.000,...,0.000,0.000,0.000,0.000,0.0,0.048,0.048,0.048,0.048,0.048
301,01334,Saint-André-d'Huiriat,01,256,1.000,0.942,0.881,0.819,0.819,1.000,...,0.000,0.000,0.000,0.000,0.0,0.819,0.819,0.819,0.819,0.819
302,01335,Saint-André-le-Bouchoux,01,143,0.986,0.007,0.007,0.007,0.007,0.986,...,0.000,0.000,0.000,0.000,0.0,0.007,0.007,0.007,0.007,0.007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36619,97419,Sainte-Rose,974,2723,0.999,0.960,0.838,0.396,0.000,0.999,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000
36620,97420,Sainte-Suzanne,974,8901,0.995,0.958,0.936,0.776,0.722,0.995,...,0.000,0.000,0.000,0.000,0.0,0.722,0.722,0.722,0.722,0.722
36626,97502,Saint-Pierre,975,2653,0.991,0.991,0.991,0.991,0.000,0.000,...,0.991,0.991,0.991,0.991,0.0,0.000,0.000,0.000,0.000,0.000
36644,97701,Saint-Barthélemy,977,4693,1.000,0.936,0.762,0.146,0.000,1.000,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000
36645,97801,Saint-Martin,978,16932,0.993,0.804,0.668,0.214,0.000,0.993,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000